<!--<ion-header>
  <ion-toolbar>
    <ion-title>progress</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="type">
      <ion-segment-button class="left" value="list">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button class="right" value="chart">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-label *ngIf="isEmpty() && loaded">No workout finished</ion-label>
    <ion-list *ngIf="isListLayout() && loaded">
      <app-progress-item
        *ngFor="let workoutRun of workoutRuns"
        [workoutRun]="workoutRun"
      ></app-progress-item>
    </ion-list>
    <div class="container-graph-selection" *ngIf="!isListLayout() && loaded">
      <ion-item class="select" >
        <ion-label>Period</ion-label>
        <ion-select [(ngModel)]="period" (ionChange)="updateGraph()" [cancelText]="'Abbrechen'">
          <ion-select-option value="week">1 Woche</ion-select-option>
          <ion-select-option value="month">1 Month</ion-select-option>
          <ion-select-option value="threeMonth">3 Monate</ion-select-option>
          <ion-select-option value="sixMonth">6 Month</ion-select-option>
          <ion-select-option value="year">1 Year</ion-select-option>
          <ion-select-option value="all">All</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="select">
        <ion-label>Exercises</ion-label>
        <ion-select [(ngModel)]="selectedExercises"  (ionChange)="updateGraph()" [multiple]="'true'">
          <ion-select-option *ngFor="let exercise of exercises" value="{{exercise}}">{{exercise}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!--<google-chart #mychart
      *ngIf="!isListLayout() && loaded"
      [data]="pieChart"
    ></google-chart>-->

    <ion-card [ngClass]="{'container-invisible' :isListLayout(), 'container-visible': !isListLayout()}">
      <ion-card-content>
        <canvas #lineChart></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
