div {
  display: flex;
  flex-flow: column;
}

.container-graph-selection {
  display: flex;
  flex-flow: row;
  margin-top: 16px;
  margin-bottom: 16px;

  ion-item {
    width: 100%;
    --padding-start: 8px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
    opacity: 0.7;
  }

  ion-label {
    margin: 0;
  }
}

.select {

  ion-select {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
  }
}

ion-list {
  background: transparent;
  padding-top: 0;
}

ion-segment {
  width: 120px;
  display: flex;
  align-self: flex-end;
  margin-top: 8px;
  margin-right: 8px;
}
ion-segment-button {
  min-width: unset;
  min-height: 32px;
  --color-checked: white;
  --background-checked: var(--ion-color-primary);
  --background: var(--ion-item-background);
  --indicator-color: transparent;
  --padding-end: 0;
  --padding-start: 0;

  ion-icon {
    margin: 0;
  }
}
.left {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.right {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

ion-label {
  display: flex;
  justify-content: center;
  margin: 16px;
}
