<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveWorkoutPlan()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="title-item">
    <ion-label position="stacked">{{ "title" | translate }}</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-button [routerLink]="['/exercise-add']" [expand]="'block'" class="button-add">{{"add_exercise" | translate}}</ion-button>
  <ion-reorder-group (ionItemReorder)="onReorderItems($event)" disabled="false">
    <div *ngFor="let set of addExerciseService.exerciseAddSetList">
        <app-exercise-set-edit-item [exerciseSet]="set"></app-exercise-set-edit-item>
    </div>
    </ion-reorder-group>
</ion-content>
