<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="title-item">
    <ion-label position="stacked">Title</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button [routerLink]="['/exercise-add']" [expand]="'full'" class="button-add">Add Exercise</ion-button>
  <app-exercise-item-add *ngFor="let item of addExerciseService.exerciseAddSetList" [exerciseSet]="item"></app-exercise-item-add>

</ion-content>
