.title-item {
  margin: 8px;
}

.button-add {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
}

app-exercise-item-add {
  display: flex;
  flex-flow: column;
  margin-bottom: 16px;
}
