<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveExercise()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="item-title">
    <ion-label position="stacked">{{ "title" | translate }}</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-radio-group [(ngModel)]="unit">
    <ion-list-header>
      <ion-label class="title-label">{{"unit" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{"weight" | translate}}</ion-label>
      <ion-radio slot="start" value="weight"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>{{"time" | translate}}</ion-label>
      <ion-radio slot="start" value="time"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-radio-group [(ngModel)]="exerciseType" class="radio-group-exerciseType">
    <ion-list-header>
      <ion-label class="title-label">{{"exercise_type" | translate}}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{"machine" | translate}}</ion-label>
      <ion-radio slot="start" value="machine"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{"body_weight" | translate}}</ion-label>
      <ion-radio slot="start" value="bodyWeight"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{"none" | translate}}</ion-label>
      <ion-radio slot="start" value="none"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-list-header>
    <ion-label class="title-label">{{"muscle_groups" | translate}}</ion-label>
  </ion-list-header>
  <ion-list>

    <ion-item *ngFor="let entry of muscleGroups">
      <ion-label>{{entry.title}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
