.title-label {
  font-size: 16px;
  font-weight: 500;
}

.container-input {
  margin-top: 8px;
  display: flex;
  margin-bottom: 16px;
}

.item-unit {
  width: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

.radio-group-exerciseType {
  display: flex;
  margin-bottom: 16px;
  width: 100%;
  flex-flow: column;
}

.item-title {
  margin-top: 16px;
}

