<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input [(ngModel)]="title"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="saveWorkoutPlan()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/exercise-add']" [expand]="'block'" class="button-add">Add Exercise</ion-button>
  <ion-reorder-group (ionItemReorder)="onReorderItems($event)" disabled="false">
  <div *ngFor="let set of addExerciseService.exerciseAddSetList">
      <app-exercise-set-edit-item [exerciseSet]="set"></app-exercise-set-edit-item>
  </div>
  <div *ngFor="let set of selectedPlan.exerciseSets">
      <app-exercise-set-edit-item [exerciseSet]="set" (removeExercise)="removeExercise($event)"></app-exercise-set-edit-item>
  </div>
  </ion-reorder-group>
  <ion-button color="danger" class="button-delete" [expand]="'block'" (click)="delete()">{{ "delete" | translate}}</ion-button>
</ion-content>
