app-exercise-set-edit-item {
    margin-bottom: 16px;
    display: flex;
}

.button-add {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
}

ion-header {
  ion-input {
    --padding-top: 0;
    --padding-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0125em;
  }
}

.button-delete {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  opacity: 1;
}

ion-fab {
  position: fixed;
}

ion-content {
  --padding-bottom: 40px;
}
