<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--<ion-title>{{selectedPlan.title}}</ion-title>-->
    <ion-input [value]="selectedPlan.title"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="saveWorkoutPlan()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/exercise-add']" [expand]="'block'" class="button-add">Add Exercise</ion-button>
  <ion-reorder-group (ionItemReorder)="onReorderItems($event)" disabled="false">
  <div *ngFor="let set of addExerciseService.exerciseAddSetList">
    <ion-reorder>
      <app-exercise-set-edit-item [exerciseSet]="set"></app-exercise-set-edit-item>
    </ion-reorder>
  </div>
  <div *ngFor="let set of selectedPlan.exerciseSets">
    <ion-reorder>
      <app-exercise-set-edit-item [exerciseSet]="set" (removeExercise)="removeExercise($event)"></app-exercise-set-edit-item>
    </ion-reorder>
  </div>
  </ion-reorder-group>
</ion-content>
