.button-login {
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.error {
  font-size: 12px;
  padding-top: 0;
  color: var(--ion-color-danger);
}

.button-register {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.placeholder {
  opacity: 0;
  padding-top: 0;
}

.label-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 56px;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

ion-item {
  margin: 16px;
  margin-bottom: 4px;
}
