<ion-content>
    <ion-label class="label-title">Sign In</ion-label>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input formControlName="email" [(ngModel)]="email" [type]="'email'"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Enter a valid email
      </span>
      <ion-item >
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" [(ngModel)]="password" [type]="'password'"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.invalid">
        E-Mail or password invalid
      </span>
    <ion-button class="button-login" [expand]="'block'" [type]="'submit'">Login</ion-button>
    </form>
    <ion-button class="button-register" (click)="register()" [expand]="'block'" [fill]="'clear'" [size]="'small'">Create account</ion-button>
</ion-content>
