<ion-card id="container" [ngClass]="expanded ? 'container-expanded': 'container-unexpanded'">
  <ion-card-header (click)="changeExpandItem()">
    <ion-icon *ngIf="!expanded" name="chevron-forward-outline"></ion-icon>
    <ion-icon *ngIf="expanded" name="chevron-down-outline"></ion-icon>

    <div class="container-title">
      <ion-label class="label-date">{{workoutRun.date.toDate() | date: 'dd.MM.yyyy HH:mm'}}</ion-label>
      <ion-label class="label-title">{{workoutRun.executedPlan}}</ion-label>
    </div>

  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-grid *ngFor="let item of workoutRun.executedExercises">
        <ion-label class="label-exercise-title">{{item.exercise}}</ion-label>
        <ion-row class="row-title">
          <ion-col>
            <ion-label class="label-header">Reps</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="label-header">Weight</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of item.set; let i = index">
          <ion-col>
            <ion-input [type]="'number'" [(ngModel)]="item.reps"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input [type]="'number'" [(ngModel)]="item.weight"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </ion-card-content>
</ion-card>
