ion-card {
  margin: 8px;
  padding: 8px;
}

ion-grid {
  background-color: var(--ion-card-transparent-20);
  margin-bottom: 16px;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 16px;
}

.container-expanded {
 height: 100%;
}

.container-unexpanded {
  height: 54px;
}

.container-title {
  display: flex;
  flex-flow: column;
}

.label-date {
  font-weight: 600;
  color: white;
  font-size: 16px;
  margin-bottom: 2px;
}

.label-title {
  opacity: 0.8;
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
}

.label-header {
  font-weight: 500;
}

ion-row {
  align-items: center;
  opacity: 0.8;
}

ion-col {
  padding: 0;
  color: white
}

ion-card-header {
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  ion-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

ion-card-content {
  padding-bottom: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

ion-item {
  min-height: 24px;
}

ion-input {
  --padding-start: 0;
  --padding-bottom: 4px;
  --padding-top: 4px;
}

.label-add-set {
  font-size: 14px;
  padding: 0;
  opacity: 0.5;
}

.label-exercise-title {
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
}

