<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedPlan.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-workout-run">
    <div *ngFor="let set of selectedPlan.exerciseSets">
      <app-workout-run-item [exerciseSet]="set"></app-workout-run-item>
    </div>
  </div>
  <ion-button class="button-save" [expand]="'block'" (click)="save()">Finish Workout</ion-button>
</ion-content>
