<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveSelectedExercises()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="search($event, null)" (ionClear)="doOnSearchClear()"></ion-searchbar>
  <div class="container-muscle-group">
      <ion-chip [ngClass]="{'chip-selected': muscleGroup.isChecked === true}"  *ngFor="let muscleGroup of muscleGroups" (click)="search(searchItem, muscleGroup)">
        <ion-label>{{muscleGroup.title}}</ion-label>
      </ion-chip>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of workoutAddList">
      <ion-label>{{item.title | translate}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isChecked" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button class="button-custom-exercise" [expand]="'block'" (click)="createCustomExercise()">{{"create_custom_exercise" | translate}}</ion-button>
</ion-content>
