ion-row {
    align-items: center;
}

ion-col {
    padding-left: 0dp;
    padding-right: 0dp;
}

ion-grid {
    padding-inline-start: 0;
    padding-inline-end: 0;
}

ion-item {
    --padding-start: 8px;
    --background: transparent;
}

.button-add {
    float: right;
}

.item-input-data {
    --background: var(--ion-item-background)
}