.checkbox-done {
    float: right;
}

.label-header {
    font-weight: 600;
}

.selected-row {
  background-color: var(--ion-color-primary-transparent-20);
}

.container {
    margin: 8px;
    padding: 8px;
}

ion-row {
    align-items: center;
}

ion-col {
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    color: white
}

ion-card-header {
    padding: 0 0 16px 0
}

ion-card-content {
    padding-bottom: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
}

ion-item {
    min-height: 24px;
}


