<ion-card class="container">
  <ion-card-header>
    <ion-card-title>{{exerciseSet.exercise.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="label-header">Reps</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="label-header">Weight</ion-label>
        </ion-col>
        <ion-col size="2">
        </ion-col>
      </ion-row>
      <ion-row [ngClass]="{'selected-row': item.finished === true}" *ngFor="let item of exerciseSet.exerciseSets">
        <ion-col>
          <ion-input [type]="'number'" [(ngModel)]="item.reps"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input [type]="'number'" [(ngModel)]="item.weight"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-checkbox class="checkbox-done" [(ngModel)]="item.finished">
          </ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
