<ion-item>
  <ion-grid>
    <ion-row *ngFor="let item of exerciseSet.exerciseSets; let i = index">
      <ion-col>
        <ion-item class="item-input-data">
          <ion-label position="stacked">Reps</ion-label>
          <ion-input [type]="'number'"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="item-input-data">
          <ion-label position="stacked">Weight [kg]</ion-label>
          <ion-input [type]="'number'"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button *ngIf="isLastElement(i)" class="button-add" [fill]="'clear'" (click)="addExerciseSet()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
