<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Workout Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="workout">
        <ion-icon name="barbell-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="progress">
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="info">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
