<ion-list>

  <ion-card button *ngFor="let item of workoutPlans" (click)="goToWorkoutDetail(item.id)">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div class="exercise-container">
          <ion-label *ngFor="let exerciseSet of item.exerciseSets">{{exerciseSet.exercise.title}}</ion-label>
        </div>
      </ion-list>
    </ion-card-content>

    <ion-item button class="item-action" (click)="goToWorkoutRun(item.id, $event)">
      <ion-icon class="icon-action" name="play-outline" slot="start"></ion-icon>
      <ion-label class="label-action">Start Workout</ion-label>
    </ion-item>

  </ion-card>
  <div *ngIf="hasArchivedPlans()">
  <ion-item-divider>
    <ion-label>
      {{ "archived" | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-card button *ngFor="let item of archivedWorkoutPlans" (click)="goToWorkoutDetail(item.id)">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div class="exercise-container">
          <ion-label *ngFor="let exerciseSet of item.exerciseSets">{{exerciseSet.exercise.title}}</ion-label>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
</ion-list>
