<ion-label class="label-no-plans" *ngIf="noPlansAdded">{{"noPlansAdded" | translate}}</ion-label>
<ion-list *ngIf="loaded">
  <ion-card button *ngFor="let item of workoutPlans" (click)="goToWorkoutDetail(item.id)">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div class="exercise-container">
          <ion-label *ngFor="let exerciseSet of item.exerciseSets">{{exerciseSet.exercise.title | translate}}</ion-label>
        </div>
      </ion-list>
    </ion-card-content>

    <ion-item button class="item-action" (click)="goToWorkoutRun(item.id, $event)">
      <ion-icon class="icon-action" name="play-outline" slot="start"></ion-icon>
      <ion-label class="label-action">{{"start_workout" | translate}}</ion-label>
    </ion-item>

  </ion-card>
  <div *ngIf="hasArchivedPlans()">
  <ion-item-divider>
    <ion-label>
      {{ "archived" | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-card button *ngFor="let item of archivedWorkoutPlans" (click)="goToWorkoutDetail(item.id)" [ngClass]="item.expanded ? 'container-expanded': 'container-unexpanded'">
    <ion-card-header (click)="changeExpandItem(item, $event)">
      <ion-icon *ngIf="!item.expanded" name="chevron-forward-outline"></ion-icon>
      <ion-icon *ngIf="item.expanded" name="chevron-down-outline"></ion-icon>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div class="exercise-container">
          <ion-label *ngFor="let exerciseSet of item.exerciseSets">{{exerciseSet.exercise.title | translate}}</ion-label>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
</ion-list>
<div *ngIf="!loaded">
  <ion-list>
    <div class="container-skeleton custom-skeleton">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
    <div class="container-skeleton custom-skeleton">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
    <div class="container-skeleton custom-skeleton">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
  </ion-list>
</div>
