ion-list {
  background: transparent;
  width: 100%;
}

ion-card {
  padding-bottom: 16px;
}

ion-card-header {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  ion-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

ion-card-title {
  justify-content: center;
  display: flex;
  margin-top: 0;
}

ion-card-content {
  padding-bottom: 0;
  margin-top: 8px;

  ion-label {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

ion-item {
  --border-width: 0;
  --min-height: 36px;
  --border-color: transparent;
}

.icon-action {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 16px;
}

.label-action {
  margin: 0;
  opacity: 0.8;
}

.exercise-container {
  display: flex;
  flex-flow: column;
}

.custom-skeleton ion-skeleton-text {
  line-height: 100px;
}

.container-skeleton {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.container-expanded {
  height: 100%;
 }

 .container-unexpanded {
   height: 56px;
 }

 .label-no-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }
