.button-remove {
    float: right;
}

.label-header {
    font-weight: 600;
}

.container {
    margin: 8px;
    padding: 8px;
}

ion-row {
    align-items: center;
}

ion-col {
    padding: 0;
}

ion-card-header {
    padding: 0 0 16px 0
}

ion-card-content {
    padding-bottom: 0;
}

ion-item {
    min-height: 24px;
}

.label-add-set {
    font-size: 14px;
    padding: 0;
    opacity: 0.5;
}

.icon-add-set {
    margin: 0 16px 0 0
}


