<ion-reorder>
<ion-card class="container">
  <ion-card-header>
    <ion-card-title>{{exerciseSet.exercise.title}}</ion-card-title>
    <ion-icon (click)="deleteExercise()" name="trash-outline"></ion-icon>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="label-header">Reps</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="label-header">Weight</ion-label>
        </ion-col>
        <ion-col size="2">
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of exerciseSet.exerciseSets; let i = index">
        <ion-col>
          <ion-input #repInputs [type]="'number'" [(ngModel)]="item.reps"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input [type]="'number'" [(ngModel)]="item.weight"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button *ngIf="isLastElement(i)" class="button-add-remove" [fill]="'clear'" (click)="addExerciseSet()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!isLastElement(i)" class="button-add-remove" [fill]="'clear'" (click)="removeExerciseSet(i)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-reorder>
