ion-list {
    background: transparent;
    width: 100%;
}

ion-card {
    display: flex;
    flex-flow: column;
}

app-workout-plan-exercise-set-item {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}

.button-edit {
    float: right;
}