<ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Workout Plan #1</ion-card-title>
      <ion-button [fill]="'clear'" [slot]="'end'" class="button-edit">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Hip Thursts</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Squats</ion-label>
        </ion-item>
        <ion-item *ngFor="let item of workoutPlans">
          <ion-label>{{item.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>


  </ion-card>

</ion-list>