<ion-list>

  <ion-card *ngFor="let item of workoutPlans">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div class="exercise-container">
          <ion-label *ngFor="let exerciseSet of item.exerciseSets">{{exerciseSet.exercise.title}}</ion-label>
        </div>
      </ion-list>
    </ion-card-content>
    <ion-item class="item-action" (click)="goToWorkoutDetail(item.id)" class="ion-activated">
      <ion-icon class="icon-action" name="pencil-outline" slot="start"></ion-icon>
      <ion-label class="label-action" >Edit Workout</ion-label>
    </ion-item>

    <ion-item class="item-action" (click)="goToWorkoutRun(item.id)">
      <ion-icon class="icon-action" name="play-outline" slot="start"></ion-icon>
      <ion-label class="label-action">Start Workout</ion-label>
    </ion-item>

  </ion-card>

</ion-list>
