<ion-list>

  <ion-card *ngFor="let item of workoutPlans">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-button [fill]="'clear'" [slot]="'end'" class="button-edit">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let exercise of item.exercises">
          <ion-label>{{exercise.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>


  </ion-card>

</ion-list>